{% extends "base.html" %}

{% block title %}tagging_cloud.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "tagging/tag.css" %}{% endblock %}

{% block content %}
<div class="tag-cloud">
    {% load tagging_tags %}
    {% tag_cloud_for_model motd.Post as tags with steps=6 min_count=1 distribution=log %}
    {% for tag in tags %}
    <span class="tag-{{ tag.font_size }}">
        <a href="{% url 'motd:tagged_object_list' tag.name %}">{{ tag.name }}</a>
    </span>
    {% endfor %}
</div>

{% endblock %}